{% extends 'BBMS_APP/admin/admin_base.html' %}
{% block title %}Home - My Website{% endblock %}


{% block content %}

<!-- Main Content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h1 class="mt-5 text-white">Welcome to Blood Home Page</h1>
    </br>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'AdminBloodGroupPage' %}" class="card mb-3 border border-dark">
                <div class="card-body">
                    <h5 class="card-title">Blood Group Register</h5>
                    <!-- Add content for Box 1 here -->
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'AdminBloodGroupDetailsPage' %}" class="card mb-3 border border-dark">
                <div class="card-body">
                    <h5 class="card-title">Blood Group Details</h5>
                    <!-- Add content for Box 1 here -->
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'admin_bloodStockDetails' %}" class="card mb-3 border border-dark">
                <div class="card-body">
                    <h5 class="card-title">Blood stock details</h5>
                    <!-- Add content for Box 2 here -->
                </div>
            </a>
        </div>
    </div>
</main>
<!-- Main Content Ends Here-->
{% endblock %}