{% extends 'BBMS_APP/admin/admin_base.html' %}
{% block title %}Home - My Website{% endblock %}


{% block content %}

            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <!-- Table -->
                <form method="post" action="#" autocomplete="off">
                    {% csrf_token %}
                    <h1 class="mt-2 text-white d-flex justify-content-between align-items-center bt">
                        District Details
                        <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                    </h1>
                    <!-- Success/ Error Message -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'records_delete' in message.tags %}
                                <div class="email-success-message">
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Success/ Error Message -->
                    <div class="table-responsive col-10">
                        <table class="table table-bordered table-hover table-danger-border table-sm">
                            <thead class="text-white thead-dark">
                                <tr class="border">
                                    <th class="border" style="width: 10%;">Select</th>
                                    <th class="border" style="width: 40%;">District ID</th>
                                    <th class="border" style="width: 50%;">District Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form method="post" action="#" autocomplete="off">
                                    {% csrf_token %}
                                    <!-- Placeholder for table body content -->
                                    {% for i in details %}
                                    <tr class="text-white">
                                        <!-- Field for checkbox -->
                                        <td><input type="checkbox" value="{{ i.district_id }}" name="selected_records"></td>
                                        <!-- Field for ID -->
                                        <td>{{ i.district_id }}</td>
                                        <!-- Input field for name -->
                                        <td>{{ i.district_name }}</td>
                                    </tr>
                                    {% endfor %}
                                </form>
                            </tbody>
                        </table>
                    </div>
                </form>
            </main>
            <!-- Main Content Ends Here-->
           {% endblock %}