{% extends 'BBMS_APP/admin/admin_base.html' %}
{% block title %}Home - My Website{% endblock %}


{% block content %}

                <!-- Main Content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <h1 class="mt-5 text-white">Welcome to Donor Details Page</h1>
                    </br>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{% url 'AdminDonorRegisterPage' %}" class="card mb-3 border border-dark">
                                <div class="card-body">
                                    <h5 class="card-title">Donor register form</h5>
                                    <!-- Add content for Box 1 here -->
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'AdminDonorDetailsPage' %}" class="card mb-3 border border-dark">
                                <div class="card-body">
                                    <h5 class="card-title">Donor details</h5>
                                    <!-- Add content for Box 2 here -->
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'AdminDonorDetailsModificationPage' %}" class="card mb-3 border border-dark">
                                <div class="card-body">
                                    <h5 class="card-title">Donor details modification</h5>
                                    <!-- Add content for Box 2 here -->
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'AdminDonorBloodDonationRegisterPage' %}" class="card mb-3 border border-dark">
                                <div class="card-body">
                                    <h5 class="card-title">Blood Donation Records</h5>
                                    <!-- Add content for Box 2 here -->
                                </div>
                            </a>
                        </div>
                    </div>
                </main>
                <!-- Main Content Ends Here-->
{% endblock %}